@import "qiita-coat/scss/avatars";

.accounts {
  &-item {
    border-left: solid 4px #fff;
    margin-top: 16px;
    padding-left: 12px;
    padding-right: 12px;

    &-avatar {
      @include avatar;
    }

    &-key {
      color: #636a71;
      font-size: 12px;
      margin-top: 2px;
      text-align: center;
    }
  }
}
