.editor {
  padding: 8px 16px;

  &-box {
    border-radius: 3px;
    border: solid 1px #ddd;
    display: flex;
    padding: 4px 8px;
  }

  &-counter {
    color: #aaa;
  }

  &-textarea {
    border: 0;
    display: block;
    flex: 1;
    line-height: 1.5;
    outline: none;
    resize: none;
    width: 100%;
  }
}
