@import "qiita-coat/scss/buttons";

.editor {
  border-radius: 0 3px 3px 0;

  &-counter {
    display: inline-block;
    margin-left: 4px;
    padding-bottom: 6px;
    padding-top: 6px;
  }

  &-submit-button {
    @include button;
    @include button-primary;
  }

  &-textarea {
    border: solid 1px #ddd;
    border-radius: 3px;
    line-height: 1.5;
    padding: 8px;
    resize: none;
    width: 100%;
  }
}
