@import "qiita-coat/scss/avatars";
@import "../variables";

.tweet {
  display: flex;

  & + & {
    margin-top: 16px;
  }

  &-anchor {
    color: $color-link;
  }

  &-avatar {
    @include avatar;

    &-child {
      @include avatar-child;
    }

    &-parent {
      @include avatar-parent;
    }
  }

  &-datetime {
    color: #aaa;
    padding-left: 8px;
  }

  &-display-name {
    font-weight: bold;
  }

  &-header {
    display: flex;
  }

  &-main {
    flex: 1;
  }

  &-names {
    margin-right: auto;
  }

  &-retweeter-display-name {
    color: #aaa;
    margin-left: 4px;
  }

  &-screen-name {
    color: #aaa;
    margin-left: 4px;
  }

  &-sub {
    margin-right: 12px;
  }
}

.tweets {
  margin-top: 16px;

  &-hidden {
    display: none;
  }
}
